
.titulos-LPF{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: cyan;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.5em;
    font-size: larger;
}

.titulos-PL{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: rgb(119, 143, 143);
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.5em;
    font-size: larger;
}

.titulos-SERIEA{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: rgb(41, 9, 184);
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.5em; 
     font-size: larger;
}

.titulos-LALIGA{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;

     background: rgb(208, 255, 0);
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.5em;
    font-size: larger;
}

.titulos-WORLD{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: rgb(4, 0, 255);
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.5em;
    font-size: larger;
}


/* Configuración básica para la grilla */
.grid-LPF {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: #ffffff9a; /* Color de fondo */
    text-align: center;
    
}

.grid-PL {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: #6b8377; /* Color de fondo*/
    text-align: center;
}

.grid-SERIEA{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: rgba(117, 0, 5, 0.9); /* Color de fondo*/
    text-align: center;

}

.grid-LALIGA{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: rgba(207, 133, 22, 0.9); /* Color de fondo*/
    text-align: center;

}

.grid-WORLD{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo*/
    text-align: center;

}

/* Estilo para cada item del grid */
.grid-item {
    background-color: #ff009d10; /* Fondo item */
    border-radius: 6%;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    -webkit-box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.29);

    background: linear-gradient(135deg, rgba(158, 178, 214, 0.233), rgba(255, 255, 255, 0.1));
    
 border: 1px solid rgba(255, 255, 255, 0.2);

    transition: transform 0.3s ease, background-color 0.3s ease; /* TRANSICION MAS SUAVE */
}

.grid-item img {
    width: 70px; /* TAMAÑO DE IMAGEN */
    height: auto;
    margin-bottom: 1px;
    
}

.grid-item:hover {
    background-color: #00ff6270;
    cursor: pointer;
    transform: scale(1.1); /*LO HACE MAS GRANDE CUANDO PASAS EL MOUSE */
}


.botonVolver {
   
    margin-top: 20px;
    top: 20px;
    left: 20px;
    background-color: #02521e;
    color: #f5f9fc;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botonVolver:hover {
    background-color: #4b8b9e;
}

/* PARA EL CELU */
@media (max-width: 768px) {
    .grid-LPF, .grid-PL, .grid-SERIEA, .grid-LALIGA {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Smaller columns for mobile */
        padding: 10px; /* Reduced padding for smaller screens */
    }

    .grid-item {
        padding: 5px; /* Smaller padding */
    }
}