<body>
    
    <app-home></app-home>
    <div class="titulosLPF">
        <img src="paises/argentina.png" alt="banderaArg">
        <strong> LIGA PROFESIONAL ARGENTINA </strong> 
        <img src="paises/argentina.png" alt="banderaArg">
    </div>

    <!-- clase dinamica dependiendo Liga -->
    <div [ngClass]="'grid-' + currentLeague"> <!-- Cambia el grid dependiendo la liga que recibe -->
        
        <div *ngFor="let item of filteredTeams; trackBy: trackById"><!-- VACIA -->
            <a [routerLink]="['/detalles', item.id]" class="grid-item">
                <img [src]="item.imageUrl" alt="{{item.imageUrl}}">
                <strong>{{item.name}}</strong>
            </a>
        </div>
    </div>
</body>



