<body>
    
    <div [ngClass]="'titulos-' + currentLeague">
        <img [src]="'paises/' + currentLeague + '.png'" alt= {{currentLeague}}>
        <strong> {{currentLeague}} </strong>
        <img [src]="'paises/' + currentLeague + '.png'" alt= {{currentLeague}}>
    </div>

    <!-- clase dinamica dependiendo Liga -->
    <div [ngClass]="'grid-' + currentLeague"> <!-- Cambia el grid dependiendo la liga que recibe -->
        
        <div *ngFor="let item of filteredTeams; trackBy: trackById"><!-- VACIA -->
            <a [routerLink]="['/detalles', item.id, { league: currentLeague }]" class="grid-item"> <!--LE PASA LIGA, E ID DE EQUIPO -->
                <img [src]="item.imageUrl" alt="{{item.imageUrl}}">
                <strong>{{item.name}}</strong>
            </a>
        </div>
    </div>
    
</body>

<button class="botonVolver" (click)="goBack()"> VOLVER ATRAS</button>



