* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
}

/* Estilos del formulario */
.register-form {
    width: 100%;
    max-width: 400px; 
    padding: 2rem; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.form-group {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%; 
}

.form-group label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.form-group input {
    padding: 0.75rem;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007bff;
}


.form-group span {
    font-size: 0.875rem;
    color: #d9534f;
    margin-top: 0.25rem;
}


.password-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.reveal-password {
    position: absolute;
    right: 10px;
    top: 35px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
}

.reveal-password:hover {
    color: #0056b3;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}