<form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
    <fieldset>
        <legend>Registrarse</legend>

        <section class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="text" id="email" autocomplete="email" formControlName="email">
            <span *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
                El email no puede permanecer vacío
            </span>
            <span *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
                El email no es un correo válido
            </span>
        </section>

        <section class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" autocomplete="username" formControlName="username">
            <span *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
                El nombre de usuario no puede permanecer vacío
            </span>
            <span *ngIf="form.get('username')?.touched && form.get('username')?.hasError('minlength')">
                El nombre de usuario es muy corto
            </span>
        </section>

        <section class="form-group password-group">
            <label for="password">Contraseña</label>
            <input #password type="password" id="password" formControlName="password">
            <button type="button" (click)="onRevealPassword(password)" class="reveal-password">
                👁️
            </button>
            <span *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
                La contraseña no puede permanecer vacía
            </span>
            <span *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">
                La contraseña es muy corta
            </span>
        </section>

        <button type="submit" [disabled]="form.invalid" class="submit-btn">Registrarse</button>
       <div> Ya sos usuario?<a routerLink="/login">Login</a></div>
    </fieldset>
</form>
