<footer>

    <div class="containerFooter">
        <div class="footer-content">
            <h3>Contactanos </h3>
            <img  src="iconoBall.png" alt="iconoBall" class = "logo">
            <ul class = "list">
                <li><a href="https://github.com/jeroperales">Jero Perales</a> </li>
                <li><a href="https://github.com/GianSicolo">Gianfranco Sicolo</a> </li>
                <li><a href="https://github.com/MarcosSoliss">Marcos Solis Luna</a> </li>
                <li><a href="https://github.com/NahuForni">Nahuel Pacheco Fornillo</a> </li>
            </ul>
        </div>
        
    </div>
    
    </footer>
