
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaRedonda</title>
</head>
<body>
    <header>
        <a href="" class="logo">
            <img src="laRedonda.png" alt="logo empresa redondito de ricota" class ="logo-img">
            
        </a>
        <nav>
        <a [routerLink]="'/about-us'" class="nav-link">Sobre Nosotros</a>
        <a [routerLink]="'/forum'" class="nav-link">Foros</a>
        <a href="" class="nav-link">Tablas</a>
        </nav>


    </header>


</body>
</html>

