<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header class="header" id="header">
      <div class="row">
        <div class="container">
          <div class="header-content">
          
            <div class="nav-search">
              <div class="form-group">
                <input type="text" placeholder="Busca en la comunidad" />
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
            <section class="left">
                <h2>Recomendaciones para usted</h2>
                <div class="inner-left">
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 1</p>
                            <h3>¿Qué jugador debería ser convocado a la selección?</h3>
                            <div class="sub-details">
                                <span> Martín</span>
                                <span>hace 3 hs</span>
                                <span>responder</span>
                                <span>1 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>4</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 2</p>
                            <h3>¿Messi debería regresar a Newell's?</h3>
                            <div class="sub-details">
                                <span> Ana</span>
                                <span>hace 5 hs</span>
                                <span>responder</span>
                                <span>2 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 3</p>
                            <h3>¿Qué opinan de la salida de Gallardo?</h3>
                            <div class="sub-details">
                                <span>Lucas</span>
                                <span>hace 4 hs</span>
                                <span>responder</span>
                                <span>3 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 4</p>
                            <h3>La mejor época de Boca Juniors</h3>
                            <div class="sub-details">
                                <span>Javier</span>
                                <span>hace 6 hs</span>
                                <span>responder</span>
                                <span>1 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>8</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 5</p>
                            <h3>Predicciones para el próximo Mundial</h3>
                            <div class="sub-details">
                                <span>Carla</span>
                                <span>hace 7 hs</span>
                                <span>responder</span>
                                <span>2 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>12</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 6</p>
                            <h3>¿Qué opinan del VAR en el fútbol?</h3>
                            <div class="sub-details">
                                <span>Sergio</span>
                                <span>hace 8 hs</span>
                                <span>responder</span>
                                <span>3 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 7</p>
                            <h3>¿Qué jugador es el mejor defensor?</h3>
                            <div class="sub-details">
                                <span>Tomás</span>
                                <span>hace 4 hs</span>
                                <span>responder</span>
                                <span>2 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 8</p>
                            <h3>El futuro de los jóvenes talentos</h3>
                            <div class="sub-details">
                                <span> Marta</span>
                                <span>hace 3 hs</span>
                                <span>responder</span>
                                <span>1 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="iconoBall.png" alt="" />
                        </div>
                        <div class="details">
                            <p>Discusión 9</p>
                            <h3>¿Cuál es el mejor gol de Messi?</h3>
                            <div class="sub-details">
                                <span>Juan</span>
                                <span>hace 2 hs</span>
                                <span>responder</span>
                                <span>1 hs</span>
                                <div class="comment">
                                    <i class="fa fa-comment"></i>
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
       
   
          <section class="right">
            <div class="box first">
              <h3>Ex Jugadores/DTs</h3>
              <span>actualidad</span>
              <p>
                Bienvenidos al foro de ex jugadores/dts, entre y comenta aquel jugador destacaba.
              </p>
              <div class="stats">
                <div>
                  <h4>1.6M</h4>
                  <span>posteos</span>
                </div>
                <div>
                  <h4>79.4k</h4>
                  <span>miembros</span>
                </div>
              </div>
              <div class="buttons">
                <a href="#" class="btn btn-red"
                  ><i class="fa fa-user-large">Entra a la comunidad</i> </a
                >
              </div>
            </div>
            <div class="box top-forums">
              <h3>Foros principales</h3>
              <a href="#">Ver todo <i class="fa fa-solid fa-arrow-right"></i></a>
              <div class="inner-box">
                <h4><a href="#">Discusión general sobre equipos</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 709.4k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>104.4M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Discusión sobre Hinchadas</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 395.7k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>124.2M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Presentaciones de miembros</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 178.9k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>22.1M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Discuciones de torneos</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 5.3k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>1.6M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Mejor estadio</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 4.2k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>1.1M</span>
                  </div>
                </div>
              </div>
            </div>
           
          </section>
        </div>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/9e5ba2e3f5.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js"></script>
  </body>
</html>