<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
   
    <title>Document</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="row">
        <div class="container">
          <div class="header-content">
            <div class="logo">
             <!--  <a href=""
              ><img src="laRedonda.png" alt="logo"
            /></a> -->
            </div>
            <div class="nav-search">
              <div class="form-group">
                <input type="text" placeholder="Busca en la comunidad" />
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="nav-group">
              <ul>
                <li>
                  <a href="#"><i class="fa  fa-comment"></i></a>
                </li>
                <li>
                  <a href="#"><i class=" fa  fa-list-ul"></i></a>
                </li>
                <li class="join">
                  <a href="#">
                    <i class="fa  fa-user"></i>
                    <span>login / usuario</span>
                  </a>
                </li>
                <li>
                  <a href="#"><i class="fa  fa-ellipsis-vertical"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <section class="left">
            <h2>Recomendaciones para usted</h2>
            <div class="inner-left">
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 1</p>
                  <h3>Quinteros alto gordo gil</h3>
                  <div class="sub-details">
                    <span>Sofía.</span>
                    <span>hace 9hs.</span>
                    <span>Sofía</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 2</p>
                  <h3>Extraño a braian sarmiento </h3>
                  <div class="sub-details">
                    <span>Leonardo.</span>
                    <span>hace 9hs.</span>
                    <span>Leonardo</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa  fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 3</p>
                  <h3>Que jugador que era el coco</h3>
                  <div class="sub-details">
                    <span>Mateo</span>
                    <span>hace 9hs.</span>
                    <span>Mateo</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 4</p>
                  <h3>De donde es la frase, el negro parecia una pantera?</h3>
                  <div class="sub-details">
                    <span>Emilia</span>
                    <span>hace 9hs.</span>
                    <span>Emilia</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 5</p>
                  <h3>Pollo vignolo no sabe hablar</h3>
                  <div class="sub-details">
                    <span>gian.</span>
                    <span>hace 9hs.</span>
                    <span>gian</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 6</p>
                  <h3>El cata diaz, in my books, el mejor defensa argentino de las ultimas 2 decadas</h3>
                  <div class="sub-details">
                    <span>Jorge</span>
                    <span>hace 9hs.</span>
                    <span>Jorge</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 7</p>
                  <h3>Higuain.</h3>
                  <div class="sub-details">
                    <span>Bostero</span>
                    <span>hace 9hs.</span>
                    <span>Bostero</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-solid fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 8</p>
                  <h3>Riestra futuro club grande?</h3>
                  <div class="sub-details">
                    <span>Spreen.</span>
                    <span>hace 9hs.</span>
                    <span>Spreen</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-solid fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <img src="iconoBall.png" alt="" />
                </div>
                <div class="details">
                  <p>Discucion 9</p>
                  <h3>Independiente club en decadencia</h3>
                  <div class="sub-details">
                    <span>RacingLove</span>
                    <span>9 hs.</span>
                    <span>RacingLove</span>
                    <span>responder</span>
                    <span>5 hs</span>
                    <div class="comment">
                      <i class="fa fa-comment"></i>
                      <span>6</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="right">
            <div class="box first">
              <h3>Ex Jugadores/DTs</h3>
              <span>actualidad</span>
              <p>
                Bienvenidos al foro de ex jugadores/dts, entre y comenta aquel jugador destacaba.
              </p>
              <div class="stats">
                <div>
                  <h4>1.6M</h4>
                  <span>posteos</span>
                </div>
                <div>
                  <h4>79.4k</h4>
                  <span>miembros</span>
                </div>
              </div>
              <div class="buttons">
                <a href="#" class="btn btn-red"
                  ><i class="fa fa-user-large">Entra a la comunidad</i> </a
                >
              <!--   SACAR -->
               <!--  <a href="#" class="btn btn-white"
                  ><i class="fa fa-store"></i> </a
                > -->
              </div>
            </div>
            <div class="box top-forums">
              <h3>Foros principales</h3>
              <a href="#">Ver todo <i class="fa fa-solid fa-arrow-right"></i></a>
              <div class="inner-box">
                <h4><a href="#">Discusión general sobre equipos</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 709.4k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>104.4M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Discusión sobre Hinchadas</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 395.7k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>124.2M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Presentaciones de miembros</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 178.9k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>22.1M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Discuciones de torneos</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 5.3k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>1.6M</span>
                  </div>
                </div>
              </div>
              <div class="inner-box">
                <h4><a href="#">Mejor estadio</a></h4>
                <div class="stats">
                  <div class="stat comments">
                    <i class="fa fa-solid fa-comment"></i><span> 4.2k</span>
                  </div>
                  <div class="stat views">
                    <i class="fa fa-regular fa-eye"></i><span>1.1M</span>
                  </div>
                </div>
              </div>
            </div>
           
          </section>
        </div>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/9e5ba2e3f5.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js"></script>
  </body>
</html>