<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="contenedor">
		<div class="contenedor-Equipos">
			<a [routerLink]="['/equipos', 'LPF']">
				<div class="card" style="background-image: url('Lpfjpg.jpg')">
					<div class="textos">
						<h3>Liga Profesional de Fútbol</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
			<a [routerLink]="['/equipos', 'PL']">
                
				<div class="card" style="background-image: url('Inglaterra.jpg')">
					<div class="textos">
						<h3>Premier League</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
			<a [routerLink]="['/equipos', 'SERIEA']">
				<div class="card" style="background-image: url('Italia.jpg')">
					<div class="textos">
						<h3>Serie A</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
			<a [routerLink]="['/equipos', 'LALIGA']">
				<div class="card" style="background-image: url('Espana.jpg')">
					<div class="textos">
						<h3>LigaLiga</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</body>
</html>

