<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="wrap">
		<div class="search">
		  <input
			type="text"
			class="search-bar"
			placeholder="Buscar Equipo"
			[(ngModel)]="nombreEquipo"
			(keyup)="filterTeams()"
		  />
		  <button class="search-btn" (click)="buscarEquipo()">
			🔍 <i class="fa fa-search"></i>
		  </button>
	  
		  <!-- Suggestion List -->
		  <ul class="suggestions" *ngIf="equiposFiltrados.length > 0">
			<li *ngFor="let team of equiposFiltrados" (click)="selectTeam(team)">
			  {{ team.name }}   ||  {{team.league}}
			</li>
		  </ul>
		</div>
	  </div>
	  


	  <div class="contenedor">
		<div class="contenedor-Equipos">
			<a [routerLink]="['/equipos', 'LPF']">
				<div class="card" style="background-image: url('Lpfjpg.jpg')">
					<div class="textos">
						<h3>Liga Profesional de Fútbol</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
			<a [routerLink]="['/equipos', 'PL']">
                
				<div class="card" style="background-image: url('Inglaterra.jpg')">
					<div class="textos">
						<h3>Premier League</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
			<a [routerLink]="['/equipos', 'SERIEA']">
				<div class="card" style="background-image: url('Italia.jpg')">
					<div class="textos">
						<h3>Serie A</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
			<a [routerLink]="['/equipos', 'LALIGA']">
				<div class="card" style="background-image: url('Espana.jpg')">
					<div class="textos">
						<h3>La Liga</h3>
						<p>2024</p>
					</div>
				</div>
			</a>

			<a [routerLink]="['/equipos', 'WORLD']">
				<div class="card" style="background-image: url('selecciones.jpg')">
					<div class="textos">
						<h3>Selecciones del Mundo</h3>
						<p>2024</p>
					</div>
				</div>
			</a>
		</div>

		<div class = "contenedor-square">
			<a	[routerLink]="['/random']">
				<div class="card-square" style="background-color: rgb(204, 0, 255);">
					<h1 class="square-text">Team Picker!</h1>
					<h1 class="square-text">🎲</h1>
				</div>
			</a>
		</div>

	</div>

</body>
</html>


