
<body>
    
    <div class="titulosLPF">
        <img src="paises/argentina.png" alt="banderaArg">
        <strong> LIGA PROFESIONAL ARGENTINA </strong> 
        <img src="paises/argentina.png" alt="banderaArg">
    </div>

    <div class="grid-LPF">
    <a href="" class="grid-item">
        <img src= "LPF/argentinos.png" alt="argentinos">
        <strong>Argentinos</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/atleticotucuman.png" alt="Atletico Tucuman">
        <strong>Atletico Tucuman</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/banfield.png" alt="Banfield">
        <strong>Banfield</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/barracas.png" alt="Barracas">
        <strong>Barracas</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/belgrano.png" alt="Belgrano">
        <strong>Belgrano</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/boca.png" alt="Boca Juniors">
        <strong>Boca Juniors</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/centralcordoba.png" alt="Central Cordoba">
        <strong>Central Cordoba</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/defensa.png" alt="defensa">
        <strong>Defensa y Justica</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/estudiantes.png" alt="estudiantes">
        <strong>Estudiantes de La Plata</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/gimnasia.png" alt="gimnasia">
        <strong>Gimnasia L.P</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/godoycruz.png" alt="Club 2">
        <strong>Godoy Cruz</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/huracan.png" alt="huracan">
        <strong>Huracan</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/independiente.png" alt="independiente">
        <strong>Independiente</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/independienteriv.png" alt="independienteriv">
        <strong>Independiente  Riv.</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/instituto.png" alt="instituto">
        <strong>Instituto</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/lanus.png" alt="lanus">
        <strong>Lanus</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/newells.png" alt="newells">
        <strong>Newells</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/platense.png" alt="Platense">
        <strong>Platense</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/racing2.png" alt="racing">
        <strong>Racing</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/riestra.png" alt="riestra">
        <strong>Riestra</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/river.png" alt="river">
        <strong>River Plate</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/rosariocentral.png" alt="rosariocentral">
        <strong>Rosario Central</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/sanlorenzo.png" alt="sanlorenzo">
        <strong>San Lorenzo</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/sarmiento.png" alt="sarmiento">
        <strong>Sarmiento</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/talleres.png" alt="talleres">
        <strong>Talleres</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/tigre.png" alt="tigre">
        <strong>Tigre</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/union.png" alt="union">
        <strong>Union</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/velez.png" alt="velez">
        <strong>Velez Sarfield</strong>
    </a>

   
</div>

<div class="titulosPL"> 
    <img src="paises/england.png" alt="banderaeng">
    PREMIER LEAGUE
    <img src="paises/england.png" alt="banderaeng">
</div>


<div class = "grid-PL"> 

    <a href="" class="grid-item-PL">
        <img src="PL/arsenal.png" alt="arsenal">
        <strong>Arsenal</strong>
    </a>

    
    <a href="" class="grid-item-PL">
        <img src="PL/astonvilla.png" alt="Aston villa">
        <strong>Aston villa</strong>
    </a>

    <a href="" class="grid-item-PL">
        <img src="PL/bournemouth.png" alt="Bournemouth">
        <strong>Bournemouth</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/brentford.png" alt="Brentford">
        <strong>Brentford</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/brighton.png" alt="Brighton">
        <strong>Brighton</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/chelsea.png" alt="Chelsea">
        <strong>Chelsea</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/crystalpalace.png" alt="Crystal Palace">
        <strong>Crystal Palace</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/everton.png" alt="Everton">
        <strong>Everton</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/fulham.png" alt="Fulham">
        <strong>Fulham</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/ipswitchtown.png" alt="Ipswich Town">
        <strong>Ipswich Town</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/leicester.png" alt="Leicester City">
        <strong>Leicester City</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/liverpool.png" alt="Liverpool">
        <strong>Liverpool</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/manchestercity.png" alt="Manchester city">
        <strong>Manchester city</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/manchesterunited.png" alt="Manchester United">
        <strong>Manchester United</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/newcastle.png" alt="Newcastle">
        <strong>Newcastle</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/nottingham_forest.png" alt="Nottingham Forest">
        <strong>Nottingham Forest</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/southampton.png" alt="Southampton">
        <strong>Southampton</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/tottenham.png" alt="Tottenham">
        <strong>Tottenham</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/westham.png" alt="Westham">
        <strong>Westham</strong>
    </a>
    <a href="" class="grid-item-PL">
        <img src="PL/wolves.png" alt="Wolves">
        <strong>Wolves</strong>
    </a>


    

</div>

<div class="titulosSerieA"> 
    <img src="paises/italy.jpg" alt="banderaita">
    SERIE A
    <img src="paises/italy.jpg" alt="banderaita">
</div>

<div class="grid-SerieA"> 

    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/atalanta.png" alt="Atalanta">
        <strong>Atalanta</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/bologna.png" alt="Bologna">
        <strong>Bologna</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/cagliari.png" alt="Cagliari">
        <strong>Cagliari</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/como.png" alt="Como">
        <strong>Como</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/empoli.png" alt="Empoli">
        <strong>Empoli</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/fiorentina.png" alt="Fiorentina">
        <strong>Fiorentina</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/genoa.png" alt="Genoa">
        <strong>Genoa</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/hellasverona.png" alt="Hellas Verona">
        <strong>Hellas Verona</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/inter.png" alt="Inter">
        <strong>Inter</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/juventus.png" alt="Juventus">
        <strong>Juventus</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/lazio.png" alt="Lazio">
        <strong>Lazio</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/lecce.png" alt="Lecce">
        <strong>Lecce</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/milan.png" alt="Milan">
        <strong>Milan</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/monza.png" alt="Monza">
        <strong>Monza</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/Copia de napoli.png" alt="Napoli">
        <strong>Napoli</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/parma.png" alt="Parma">
        <strong>Parma</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/roma.png" alt="Roma">
        <strong>Roma</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/torino.png" alt="Torino">
        <strong>Torino</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/udinese.png" alt="Udinese">
        <strong>Udinese</strong>
    </a>
    <a href="" class="grid-item-SerieA">
        <img src="SERIEA/venezia.png" alt="Venezia">
        <strong>Venezia</strong>
    </a>
</div>



<div class="titulosLaLiga"> 
    <img src="paises/espana.png" alt="banderaspain">
    LA LIGA
    <img src="paises/espana.png" alt="banderaspain">
</div>

<div class = "grid-LaLiga"> 

    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/alaves.png" alt="Deportivo Alaves">
        <strong>Deportivo Alaves</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/athletic.png" alt="Athletic Club">
        <strong>Athletic Club</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/atlmadrid.png" alt="atlmadrid">
        <strong>Atletico de Madrid</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/barcelona.png" alt=" FC barcelona">
        <strong>Fc Barcelona</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/betis.png" alt="Real Betis">
        <strong>Real Betis</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/celta.png" alt="Rc Celta">
        <strong>Rc Celta</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/espanyol.png" alt="Rcd Espanyol">
        <strong>Rcd Espanyol</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/getafe.png" alt="Getafe Cf">
        <strong>Getafe Cf</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/girona.png" alt="Girona Fc">
        <strong>Girona Fc</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/leganes.png" alt="Cd Leganes">
        <strong>Cd Leganes</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/mallorca.png" alt="Rcd Mallorca">
        <strong>Rcd Mallorca</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/osasuna.png" alt="Ca Osasuna">
        <strong>Ca Osasuna</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/rayovallecano.png" alt="Rayo Vallecano">
        <strong>Rayo Vallecano</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/realmadrid.png" alt="Real Madrid">
        <strong>Real Madrid</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/realsociedad.png" alt="Real Sociedad">
        <strong>Real Sociedad</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/sevilla.png" alt="Sevilla Fc">
        <strong>Sevilla Fc</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/udlaspalmas.png" alt="Unión Deportiva Las Palmas">
        <strong>Unión Deportiva Las Palmas </strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/valencia.png" alt="Valencia Cf">
        <strong>Valencia Cf</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/valladolid.png" alt="Real Valladolid Cf">
        <strong>Real Valladolid Cf</strong>
    </a>
    <a href="" class="grid-item-LaLiga">
        <img src="LALIGA/villarreal.png" alt="Villarreal Cf">
        <strong>Villarreal Cf</strong>
    </a>
</div>


</body>

<footer>

<div class="containerFooter">
    <div class="footer-content">
        <h3>Contactanos</h3>
        <!-- <img src="iconoBall.png" alt="iconoBall"> -->
        <ul class = "list">
            <li><a href="https://github.com/jeroperales">Jero Perales</a> </li>
            <li><a href="https://github.com/GianSicolo">Gianfranco Sicolo</a> </li>
            <li><a href="https://github.com/MarcosSoliss">Marcos Solis Luna</a> </li>
            <li><a href="https://github.com/NahuForni">Nahuel Pacheco Fornillo</a> </li>
        </ul>
    </div>
    
</div>

</footer>
<link rel="stylesheet" href="grid.component.css">
