
.titulosLPF{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: cyan;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1m;
}

.titulosPL{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: rgb(119, 143, 143);
    border: 1px solid black;
    margin: 0 auto;
    padding: 1m;
}

.titulosSerieA{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: rgb(41, 9, 184);
    border: 1px solid black;
    margin: 0 auto;
    padding: 1m;

}

.titulosLaLiga{
    display: inline-block;
    align-items: center;
    width: 100%;
    background: #1a3c1a;
    color: aliceblue;
    text-shadow: 2px 2px 11px #000000;
    text-align: center;
    background: rgb(208, 255, 0);
    border: 1px solid black;
    margin: 0 auto;
    padding: 1m;

}


/* Configuración básica para la grilla */
.grid-LPF {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: #ffffff; /* Color de fondo*/
    text-align: center;
}

.grid-PL {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: #6b8377; /* Color de fondo*/
    text-align: center;
}

.grid-SerieA{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: #750505; /* Color de fondo*/
    text-align: center;

}

.grid-LaLiga{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño */
    gap: 10px;
    padding: 20px;
    background-color: #cf8516; /* Color de fondo*/
    text-align: center;

}


/* Estilo para cada item del grid */
.grid-item {
    background-color: #0d4b92b2; /* Fondo item */
    border-radius: 6%;
    text-decoration: none; 
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.grid-item-PL{
    background-color: #a8171788; /* Fondo item */
    border-radius: 6%;
    text-decoration: none; 
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.grid-item-SerieA{
    background-color: #ffffffd3; /* Fondo item */
    border-radius: 6%;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.grid-item-LaLiga{
    background-color: #ffffffd3; /* Fondo item */
    border-radius: 6%;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}




.grid-item img {
    width: 70px; /* Tamaño de la imagen */
    height: auto;
    margin-bottom: 1px;
}


.grid-item-PL img {
    width: 70px; /* Tamaño de la imagen */
    height: auto;
    margin-bottom: 1px;
}

.grid-item-SerieA img {
    width: 70px; /* Tamaño de la imagen */
    height: auto;
    margin-bottom: 1px;
}

.grid-item-LaLiga img {
    width: 70px; /* Tamaño de la imagen */
    height: auto;
    margin-bottom: 1px;
}


/* Cambios de estilo al tocar con mouse */
.grid-item:hover {
    background-color: #3c1a32;
    cursor: pointer;
}
.grid-item-PL:hover {
    background-color: #3c1a32;
    cursor: pointer;
}
.grid-item-SerieA:hover {
    background-color: #3c1a32;
    cursor: pointer;
}
.grid-item-LaLiga:hover {
    background-color: #3c1a32;
    cursor: pointer;
}

footer{
    display:flex;
    min-height: 90px;
    background-color: darkgreen;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.list{
    color: white;
    text-decoration: none;

}

.footer-content{
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.containerFooter a{
    color: white;
    text-decoration: none;
}

.containerFooter a:hover{
    color: rgb(240, 255, 30);
    text-decoration: none;
}