
<body>
    
    <div class="titulosLPF">
        <img src="paises/argentina.png" alt="banderaArg">
        <strong> LIGA PROFESIONAL ARGENTINA </strong> 
        <img src="paises/argentina.png" alt="banderaArg">
    </div>

    <div class="grid-LPF">
    <a href="" class="grid-item">
        <img src= "LPF/argentinos.png" alt="argentinos">
        <strong>Argentinos</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/atleticotucuman.png" alt="Atletico Tucuman">
        <strong>Atletico Tucuman</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/banfield.png" alt="Banfield">
        <strong>Banfield</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/barracas.png" alt="Barracas">
        <strong>Barracas</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/belgrano.png" alt="Belgrano">
        <strong>Belgrano</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/boca.png" alt="Boca Juniors">
        <strong>Boca Juniors</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/centralcordoba.png" alt="Central Cordoba">
        <strong>Central Cordoba</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/defensa.png" alt="defensa">
        <strong>Defensa y Justica</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/estudiantes.png" alt="estudiantes">
        <strong>Estudiantes de La Plata</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/gimnasia.png" alt="gimnasia">
        <strong>Gimnasia L.P</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/godoycruz.png" alt="Club 2">
        <strong>Godoy Cruz</strong>
    </a>
    <a href="club2.html" class="grid-item">
        <img src="LPF/huracan.png" alt="huracan">
        <strong>Huracan</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/independiente.png" alt="independiente">
        <strong>Independiente</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/independienteriv.png" alt="independienteriv">
        <strong>Independiente  Riv.</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/instituto.png" alt="instituto">
        <strong>Instituto</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/lanus.png" alt="lanus">
        <strong>Lanus</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/newells.png" alt="newells">
        <strong>Newells</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/platense.png" alt="Platense">
        <strong>Platense</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/racing2.png" alt="racing">
        <strong>Racing</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/riestra.png" alt="riestra">
        <strong>Riestra</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/river.png" alt="river">
        <strong>River Plate</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/rosariocentral.png" alt="rosariocentral">
        <strong>Rosario Central</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/sanlorenzo.png" alt="sanlorenzo">
        <strong>San Lorenzo</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/sarmiento.png" alt="sarmiento">
        <strong>Sarmiento</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/talleres.png" alt="talleres">
        <strong>Talleres</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/tigre.png" alt="tigre">
        <strong>Tigre</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/union.png" alt="union">
        <strong>Union</strong>
    </a>
    <a href="" class="grid-item">
        <img src="LPF/velez.png" alt="velez">
        <strong>Velez Sarfield</strong>
    </a>

   
</div>

<div class="titulosPL">
    <img src="paises/england.png" alt="banderaeng">
    PREMIER LEAGUE
    <img src="paises/england.png" alt="banderaeng">
</div>


<div class = "grid-PL"> 

    <a href="" class="grid-item-PL">
        <img src="PL/arsenal.png" alt="arsenal">
        <strong>Velez Sarfield</strong>
    </a>


</div>

</body>

<footer>

<div class="containerFooter">
    <div class="footer-content">
        <h3>Contactanos</h3>
        <!-- <img src="iconoBall.png" alt="iconoBall"> -->
        <ul class = "list">
            <li><a href="https://github.com/jeroperales">Jero Perales</a> </li>
            <li><a href="https://github.com/">Gianfranco Sicolo</a> </li>
            <li><a href="https://github.com/">Marcos Solis Luna</a> </li>
            <li><a href="https://github.com/">Nahuel Pacheco Fornillo</a> </li>
        </ul>
    </div>
    
</div>

</footer>
<link rel="stylesheet" href="grid.component.css">
