<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="banner">
        <div class="content">
            <h1>SOMOS LA REDONDA </h1>
            <p>Somos una pagina para informar de futbol, si quieres conocernos mejor sigue bajando.</p>
        </div>
    </div>

   
    <section class="como-lo-hacemos">
        <h2>Cómo lo hacemos</h2>
        <div class="columns">
            <div class="column">
                <h3>Trabajo en Equipo</h3>
                <p>Creemos que el éxito se logra con la colaboración de nuestros usuarios.</p>
            </div>
            <div class="column">
                <h3>Disciplina y Esfuerzo</h3>
                <p>Sintiéndonos parte del proceso y mejorando los procesos en los que participamos..</p>
            </div>
            <div class="column">
                <h3>Innovación y Creatividad</h3>
                <p>Buscamos soluciones únicas que transformen y aporten valor, adaptándonos continuamente a los desafíos y necesidades actuales.</p>
            </div>
        </div>
    </section>

    <section class="us">
      <div class="header">
        <h1>Nosotros</h1>
      </div>
      <div class="sub-us">

      
      <div class="team">
        <img src="https://github.com/MarcosSoliss.png"  alt="">
        <div class="name">Marcos Solis</div>
        <div class="desig">Estudiante</div>
        <div class="aboutt"> Mi enfoque es el diseño y la experiencia de usuario, haciendo que nuestras aplicaciones no solo funcionen, sino que también luzcan increíbles.</div>


        <div class="social-links">
            <a href="https://www.instagram.com/marcos_soliis/?hl=es"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/MarcosSoliss"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/marcos-solis-600843257/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="team">
        <img src="https://github.com/NahuForni.png"  alt="">
        <div class="name">Nahuel Pacheco Fornillo</div>
        <div class="desig">Estudiante</div>
        <div class="aboutt">Me especializo en la arquitectura de nuestros proyectos. Mi misión es que el código sea claro, estable y fácil de escalar.</div>


        <div class="social-links">
            <a href="https://www.instagram.com/nahuuu.23/?hl=es"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/NahuForni"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="team">
        <img src="https://github.com/jeroperales.png"  alt="">
        <div class="name">Jero Perales</div>
        <div class="desig">Estudiante</div>
        <div class="aboutt">Me encargo de que todo funcione sin problemas, siempre buscando optimizar cada detalle.</div>


        <div class="social-links">
            <a href="https://www.instagram.com/jeroperales/?hl=es"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/jeroperales"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jero-perales-807389293/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="team">
        <img src="https://github.com/GianSicolo.png"  alt="">
        <div class="name">Gianfranco Sicolo </div>
        <div class="desig">Estudiante</div>
        <div class="aboutt">Me encanta integrar ideas y asegurarme de que todo funcione en conjunto.</div>


        <div class="social-links">
            <a href="https://www.instagram.com/giansicolo/?hl=es"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/GianSicolo"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/gianfranco-sicolo-99417b211/"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
      </div>
    </section>

</body>
</html>