
.pagina-Equipo-LPF {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top; /* Make sure the content is vertically centered */
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #023f52, #a5e9fd); /* Background gradient */
    color: #f5f9fc; /* White text */

    opacity: 0;
    animation: fadeIn 1s forwards;
}


.image-container-LPF {
    margin-top: 20px;
    width: 100%; /* Adjust the width of the image */
    max-width: 500px; /* Limit image width */
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Soft shadow */
    transition: transform 0.3s ease-in-out; /* Hover effect for the image */
    background: linear-gradient(to bottom, #a5e9fd, #023f52); /* Background gradient */
}


.pagina-Equipo-PL {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top; /* Make sure the content is vertically centered */
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #6b8377, #0f4c5c); /* Background gradient */
    color: #f5f9fc; /* White text */

    opacity: 0;
    animation: fadeIn 1s forwards;
}


.image-container-PL {
    margin-top: 20px;
    width: 100%; /* Adjust the width of the image */
    max-width: 500px; /* Limit image width */
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Soft shadow */
    transition: transform 0.3s ease-in-out; /* Hover effect for the image */
    background: linear-gradient(to bottom, #778f8f, #6b8377); /* Background gradient */
}


.pagina-Equipo-SERIEA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top; /* Make sure the content is vertically centered */
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #750005, #2909b8); /* Background gradient */
    color: #f5f9fc; /* White text */

    opacity: 0;
    animation: fadeIn 1s forwards;
}

.image-container-SERIEA {
    margin-top: 20px;
    width: 100%; /* Adjust the width of the image */
    max-width: 500px; /* Limit image width */
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Soft shadow */
    transition: transform 0.3s ease-in-out; /* Hover effect for the image */
    background: linear-gradient(to bottom, #2909b8, #750005); /* Background gradient */
}

.pagina-Equipo-LALIGA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top; /* Make sure the content is vertically centered */
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #cf8516, #d0ff00); /* Background gradient */
    color: #f5f9fc; /* White text */

    opacity: 0;
    animation: fadeIn 1s forwards;
}


.image-container-LALIGA {
    margin-top: 20px;
    width: 100%; /* Adjust the width of the image */
    max-width: 500px; /* Limit image width */
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Soft shadow */
    transition: transform 0.3s ease-in-out; /* Hover effect for the image */
    background: linear-gradient(to bottom, #d0ff00, #cf8516); /* Background gradient */
}

.pagina-Equipo-WORLD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top; /* Make sure the content is vertically centered */
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #0400ff25, #06771536); /* Background gradient */
    color: #f5f9fc; /* White text */

    opacity: 0;
    animation: fadeIn 1s forwards;
}


.image-container-WORLD {
    margin-top: 20px;
    width: 100%; /* Adjust the width of the image */
    max-width: 500px; /* Limit image width */
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Soft shadow */
    transition: transform 0.3s ease-in-out; /* Hover effect for the image */
    background: linear-gradient(to bottom, #06771536, #0400ff25); /* Background gradient */
}

.img {
    width: 40%; /* Make the image take the full container width */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

.details {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.nombre-label {
    color: #d9ff00; 
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 2px 4px #000000;
   
}

.nombre-value {
    color: #f5f9fc;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 2px 4px #000000;
    font-style: italic;
    letter-spacing: 0.5px;
    
}

.botonVolver {
    margin-top: 20px;
    top: 20px;
    left: 20px;
    background-color: #02521e;
    color: #f5f9fc;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botonVolver:hover {
    background-color: #4b8b9e;
}


@media (max-width: 768px) {
    .pagina-Equipo {
        padding: 20px; /* Reduce padding for smaller screens */
    }

    .img {
        width: 90%; /* Image should be smaller on smaller screens */
    }

    .details {
        width: 100%; /* Full width for details section */
    }
}




@keyframes fadeIn {
    to { opacity: 1; }
}
