<section>
    <fieldset>
    <legend>AGREGAR EQUIPO</legend>

    <form [formGroup]="formulario" (ngSubmit)="addEquipo()">

       <!--  <label for="">ID: </label>
        <input type="number"
        formControlName="id"
        /> -->

        <label for="">Nombre Equipo: </label>
        <input type="text"
        formControlName="name"
        />

        <label for="">Año de Fundacion: </label>
        <input type="number"
        formControlName="fundYear"
        />

        <label for="">Apodo: </label>
        <input type="text"
        formControlName="nick"
        />

        <label for="">Ubicacion: </label>
        <input type="text"
        formControlName="location"
        />

        <label for="">Estadio: </label>
        <input type="text"
        formControlName="stadium"
        />


        <label for="">Liga: </label>
        <select formControlName="league">
            <option value="LPF">Liga Profesional Argentina</option>
            <option value="PL">Premier League</option>
            <option value="SERIEA">Serie A</option>
            <option value="LALIGA">La Liga</option>

        </select>

        <label for="imageUrl">Image: </label>
        <select formControlName="imageUrl">
          <option *ngFor="let img of imageOptions" [value]="img">{{ img.split('/').pop() }}</option>
        </select>
      
        <!-- Image Preview -->
        <div *ngIf="formulario.get('imageUrl')?.value">
          <img [src]="formulario.get('imageUrl')?.value" alt="Selected Image" width="100" height="100"/>
        </div>

        <button class="botonAgregar" type="submit">Agregar</button>

    </form>
</fieldset>
</section>


    